
/* line 2193*/
b {
	font-weight: bold;
}

/* Not Showing The Sub Menu Items*/
nav ul ul {
	display: none;
}
/*Shows the Sub Menu Items Only When Hovered*/
nav ul li:hover > ul {
	display: block;
}

nav ul:after {
	content: "";
	clear: both;
	display: block;
}
/*Main Menubar Items*/
nav ul li {

	float: left;
}
/*Changing menubar color when hovered*/
nav ul li:hover {
	background: #0089C9;
}
/*Changing menubar text color when hovered*/
nav ul li:hover a {
	color: #98DFF0;
}
/*Menubar text styling*/
nav ul li a {

	display: block;
	padding: 5px 30px;
	color: #9FDFF0;
	text-decoration: none;
}
/*Sub Menubar items*/
nav ul ul {
	margin-left: 0px;
	width: auto;
	background: #3C3F42;
	border-radius: 0px;
	padding: 0;
	position: absolute;
	top: 100%;
}
/*Inside the Menu Items*/
nav ul ul li {
	width: auto;
	margin-left: 0px;
	float: none;
	border-top: 1px solid #6b727c;
	border-bottom: 1px solid #575f6a;
	position: relative;
}
/*Sub Menubar Text*/
nav ul ul li a {
	margin-left: 0px;
	padding: 4px 30px;
	color: #98DFF0;
}
/*Styling submenubar with hover*/
nav ul ul li a:hover {
	background: #0089C9;
}
/*Styling Sub Sub Menubar, if there is a need for one*/
/*Setting the height of content to 100% so that the white box does not cover the slideshow*/
.content {
	height: 100%;
}
/*For some reason, if i dont't put this here, it wont work. It just colors the box below the slideshow*/
.maincontent {
	background: #f3f3f3;
}

/*Styles the text of ISB HS Tech*/
.mainHeader .centertext {
	display: table;
	position: absolute;
	font-family: 'Gill Sans';
	margin-right: auto;
	left: 42%;
	right: 0;
	top: 42%;
	bottom: auto;
	color: #fff;
	max-width: 350px;
	text-shadow: 0 1px 2px black;
}

/*The H3*/
.mainHeader .centertext h3 {
	font-size: 3em;
	margin: 0px;
	padding: 0 10px;
	text-align: center;
}

/*The smalltext*/
.mainHeader .centertext p {
	font-size: 1.2em;
	padding: 10px;
	margin: 0;
	border-top: 1px solid #fff;
	text-align: center;
}
/*Anything that is larger than a h2....*/
.content h2 {
	font-size: 1.6em;
	font-family: 'Lato';
	margin-top: -20px;
	padding: 40px 0;
	text-align: center;
}
/*"List" is the box in which items lay in*/
.content .list {
	border-right: 1px solid #eee;
	margin: 0 0 20px 0;
	padding: 20px 40px 40px;
}
.content .list .texthead {
	font-size: 16px;
	font-family: 'Lato';
	margin: -10px 0px 0px -5px;
}
/*Styling Image Inside The List*/
.content .list img {
	display: block;
	margin: 0 auto 20px;
}

.content .list h2, .content .list p {
	font-size: 14px;
	margin: 0;
	padding: 0;
}

.content .list h2 {
	margin: 20px 0;
}

/*Styling Black Parts*/
.black {
	background-color: #000;
	color: #ddd;
}

.black .list {
	border: 0 !important;
}

/*FOOTER!!!*/
.mainFooter {
	font-size: 12px;
}

.mainFooter p {
	margin: 0;
	padding: 13px 0;
	text-align: center;
	background-color: #F3F3F3;
}

/*menubar - edited*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block
}
audio, canvas, video {
	display: inline-block;
	*display: inline;
	*zoom: 1
}
html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}
a:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}
a:hover, a:active {
	outline: 0
}
sub, sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline
}
sup {
	top: -0.5em
}
sub {
	bottom: -0.25em
}
img {
	max-width: 100%;
	width: auto\9;
	height: auto;
	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic
}
button, input, select, textarea {
	margin: 0;
	font-size: 100%;
	vertical-align: middle
}
button, input {
	*overflow: visible;
	line-height: normal
}
button::-moz-focus-inner, input::-moz-focus-inner {
	padding: 0;
	border: 0
}
button {
	-webkit-appearance: button;
	cursor: pointer
}
label, select, button {
	cursor: pointer
}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none
}
textarea {
	overflow: auto;
	vertical-align: top
}
@media print {
	* {
		text-shadow: none !important;
		color: #000 !important;
		background: transparent !important;
		box-shadow: none !important
	}
	a, a:visited {
		text-decoration: underline
	}
	a[href]:after {
		content: " (" attr(href) ")"
	}
	a[href^="#"]:after {
		content: ""
	}
	pre, blockquote {
		border: 1px solid #999;
		page-break-inside: avoid
	}
	thead {
		display: table-header-group
	}
	tr, img {
		page-break-inside: avoid
	}
	img {
		max-width: 100% !important
	}
	@page {
		margin: 0.5cm
	}
	p, h2, h3 {
		orphans: 3;
		widows: 3
	}
	h2, h3 {
		page-break-after: avoid
	}
}
body {
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
	background-color: #ffffff
}
a {
	color: #0088cc;
	text-decoration: none
}
a:hover, a:focus {
	color: #005580;
	text-decoration: underline
}
.row {
	margin-left: -20px;
	*zoom: 1
}
.row:before, .row:after {
	display: table;
	content: "";
	line-height: 0
}
.row:after {
	clear: both
}
.container, .navbar-static-top .container {
	width: 940px
}
.container {
	margin-right: auto;
	margin-left: auto;
	*zoom: 1
}
.container:before, .container:after {
	display: table;
	content: "";
	line-height: 0
}
.container:after {
	clear: both
}
p {
	margin: 0 0 10px
}
small {
	font-size: 85%
}
strong {
	font-weight: bold
}
em {
	font-style: italic
}
cite {
	font-style: normal
}
h1, h2, h3, h4, h5, h6 {
	margin: 10px 0;
	font-family: inherit;
	font-weight: bold;
	line-height: 20px;
	color: inherit;
	text-rendering: optimizelegibility
}
h1, h2, h3 {
	line-height: 40px
}
h1 {
	font-size: 38.5px
}
h2 {
	font-size: 31.5px
}
h3 {
	font-size: 24.5px
}
h4 {
	font-size: 17.5px
}
h5 {
	font-size: 14px
}
h6 {
	font-size: 11.9px
}
ul, ol {
	padding: 0;
	margin: 0 0 10px 25px
}
ul ul {
	margin-bottom: 0
}
li {
	line-height: 20px
}
dl {
	margin-bottom: 20px
}
dt, dd {
	line-height: 20px
}
dt {
	font-weight: bold
}
dd {
	margin-left: 10px
}
hr {
	margin: 20px 0;
	border: 0;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #ffffff
}
blockquote {
	padding: 0 0 0 15px;
	margin: 0 0 20px;
	border-left: 5px solid #eeeeee
}
q:before, q:after, blockquote:before, blockquote:after {
	content: ""
}
address {
	display: block;
	margin-bottom: 20px;
	font-style: normal;
	line-height: 20px
}
code, pre {
	padding: 0 3px 2px;
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	font-size: 12px;
	color: #333333;
	-moz-border-radius: 3px;
	border-radius: 3px
}
code {
	padding: 2px 4px;
	color: #d14;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
	white-space: nowrap
}
pre {
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 20px;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,0.15);
	-moz-border-radius: 4px;
	border-radius: 4px
}
form {
	margin: 0 0 20px
}
fieldset {
	padding: 0;
	margin: 0;
	border: 0
}
legend {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 20px;
	font-size: 21px;
	line-height: 40px;
	color: #333333;
	border: 0;
	border-bottom: 1px solid #e5e5e5
}
label, input, button, select, textarea {
	font-size: 14px;
	font-weight: normal;
	line-height: 20px
}
input, button, select, textarea {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}
label {
	display: block;
	margin-bottom: 5px
}
select, textarea {
	display: inline-block;
	height: 20px;
	padding: 4px 6px;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 20px;
	color: #555555;
	-moz-border-radius: 4px;
	border-radius: 4px;
	vertical-align: middle
}
input, textarea {
	width: 206px
}
textarea {
	height: auto
}
textarea {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border linear .2s, box-shadow linear .2s;
	-moz-transition: border linear .2s, box-shadow linear .2s;
	-o-transition: border linear .2s, box-shadow linear .2s;
	transition: border linear .2s, box-shadow linear .2s
}
textarea:focus {
	border-color: rgba(82,168,236,0.8);
	outline: 0;
	outline: thin dotted \9;
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(82,168,236,0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(82,168,236,0.6)
}
select {
	height: 30px;
	*margin-top: 4px;
	line-height: 30px
}
select {
	width: 220px;
	border: 1px solid #cccccc;
	background-color: #ffffff
}
select:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}
input:-moz-placeholder, textarea:-moz-placeholder {
	color: #999999
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
	color: #999999
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
	color: #999999
}
input, textarea {
	margin-left: 0
}
table {
	max-width: 100%;
	background-color: transparent;
	border-collapse: collapse;
	border-spacing: 0
}
.dropdown {
	position: relative
}
.dropdown-toggle {
	*margin-bottom: -3px
}
.dropdown-toggle:active {
	outline: 0
}
.caret {
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: top;
	border-top: 4px solid #000000;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: ""
}
.dropdown .caret {
	margin-top: 8px;
	margin-left: 2px
}
.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	background-color: #ffffff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,0.2);
	*border-right-width: 2px;
	*border-bottom-width: 2px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	-moz-background-clip: padding;
	background-clip: padding-box
}
//*
 body { font-family: tahoma; }
 #loginForm  {
 display: none;
 background: #ccc;
 width: 250px;
 height: 100px;
 padding: 20px;
 color: #333;
 }
 #login {
 width: 290px;
 display:block;
 background:#069;
 color:#fff;
 }
 .label {
 cursor: pointer;
 display:block;
 padding: 5px 15px;
 font-size: 16px;
 font-weight: bold;
 }
 .form-label {
 width: 70px;
 font-size: 12px;
 font-weight: bold;
 }
 .form-field {
 width: 180px;
 }

 .form-elements {
 font-size: 0px;
 margin: 10px 0 0 0;
 display: block;
 }

 .form-label, .form-field {
 display: inline-block;
 }

 .form-field input {
 padding: 3px 5px;
 }

 .submit-btn input {
 margin-left: 70px;
 }

 **/
.dropdown-menu .divider {
	*width: 100%;
	height: 1px;
	margin: 9px 1px;
	*margin: -5px 0 5px;
	overflow: hidden;
	background-color: #e5e5e5;
	border-bottom: 1px solid #ffffff
}
.dropdown-menu > li > a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 20px;
	color: #333333;
	white-space: nowrap
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	text-decoration: none;
	color: #ffffff;
	background-color: #0081c2;
	background-image: -moz-linear-gradient(top,#08c,#0077b3);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#08c),to(#0077b3));
	background-image: -webkit-linear-gradient(top,#08c,#0077b3);
	background-image: -o-linear-gradient(top,#08c,#0077b3);
	background-image: linear-gradient(to bottom,#08c,#0077b3);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc',endColorstr='#ff0077b3',GradientType=0)
}
.nav {
	margin-left: 0;
	margin-bottom: 20px;
	list-style: none
}
.nav > li > a {
	display: block
}
.nav > li > a:hover, .nav > li > a:focus {
	text-decoration: none;
	background-color: #eeeeee
}
.nav .dropdown-toggle .caret {
	border-top-color: #0088cc;
	border-bottom-color: #0088cc;
	margin-top: 6px
}
.nav .dropdown-toggle:hover .caret, .nav .dropdown-toggle:focus .caret {
	border-top-color: #005580;
	border-bottom-color: #005580
}
.navbar {
	overflow: visible;
	margin-bottom: 20px;
	*position: relative;
	*z-index: 2 font-family : 'Gill Sans';
}
.navbar-inner {
	min-height: 40px;
	font-family: 'Gill Sans';
	padding-left: 20px;
	padding-right: 20px;
	background-color: #fafafa;
	background-image: -moz-linear-gradient(top,#fff,#f2f2f2);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f2f2f2));
	background-image: -webkit-linear-gradient(top,#fff,#f2f2f2);
	background-image: -o-linear-gradient(top,#fff,#f2f2f2);
	background-image: linear-gradient(to bottom,#fff,#f2f2f2);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#fff2f2f2',GradientType=0);
	border: 1px solid #d4d4d4;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
	box-shadow: 0 1px 4px rgba(0,0,0,0.065);
	*zoom: 1
}
.navbar-inner:before, .navbar-inner:after {
	display: table;
	content: "";
	line-height: 0
}
.navbar-inner:after {
	clear: both
}
.navbar .container {
	width: auto
}
.navbar .brand {
	float: left;
	display: block;
	padding: 10px 20px 10px;
	margin-left: -20px;
	font-size: 20px;
	font-weight: 200;
	color: #777777;
	text-shadow: 0 1px 0 #ffffff
}
.navbar .brand:hover, .navbar .brand:focus {
	text-decoration: none
}
.navbar-static-top {
	position: static;
	margin-bottom: 0
}
.navbar-static-top .navbar-inner {
	-moz-border-radius: 0;
	border-radius: 0
}
.navbar-static-top .navbar-inner {
	border-width: 0 0 1px
}
.navbar-static-top .container {
	width: 940px
}
.navbar-static-top .navbar-inner {
	-moz-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
	box-shadow: 0 1px 10px rgba(0,0,0,0.1)
}
.navbar .nav {
	position: relative;
	left: 0;
	display: block;
	float: left;
	margin: 0 10px 0 0
}
.navbar .nav.pull-right {
	float: right;
	margin-right: 0
}
.navbar .nav > li {
	float: left
}
.navbar .nav > li > a {
	float: none;
	padding: 10px 15px 10px;
	color: #777777;
	text-decoration: none;
	text-shadow: 0 1px 0 #ffffff
}
.navbar .nav .dropdown-toggle .caret {
	margin-top: 8px
}
.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
	background-color: transparent;
	color: #333333;
	text-decoration: none
}
.navbar .nav > li > .dropdown-menu:before {
	content: '';
	display: inline-block;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #ccc;
	border-bottom-color: rgba(0,0,0,0.2);
	position: absolute;
	top: -7px;
	left: 9px
}
.navbar .nav > li > .dropdown-menu:after {
	content: '';
	display: inline-block;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #ffffff;
	position: absolute;
	top: -6px;
	left: 10px
}
.navbar .nav li.dropdown > a:hover .caret, .navbar .nav li.dropdown > a:focus .caret {
	border-top-color: #333333;
	border-bottom-color: #333333
}
.navbar .nav li.dropdown > .dropdown-toggle .caret {
	border-top-color: #777777;
	border-bottom-color: #777777
}
.navbar-inverse .navbar-search .search-query:-ms-input-placeholder {
	color: #cccccc
}
.navbar-inverse .navbar-search .search-query::-webkit-input-placeholder {
	color: #cccccc
}
@-webkit-keyframes progress-bar-stripes{
from {
	background-position: 40px 0
}
to {
	background-position: 0 0
}}@-moz-keyframes
progress-bar-stripes {from{
	background-position: 40px 0
}
to {
	background-position: 0 0
}}@-ms-keyframes
progress-bar-stripes {from{
	background-position: 40px 0
}
to {
	background-position: 0 0
}}@-o-keyframes
progress-bar-stripes {from{
	background-position: 0 0
}
to {
	background-position: 40px 0
}}@keyframes
progress-bar-stripes {from{
	background-position: 40px 0
}
to {
	background-position: 0 0
}}
.pull-right {
	float: right
}
body {
	padding-bottom: 40px;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif
}
hr {
	border-top-color: #BBB
}
.brand {
	margin-left: 0px
}
a.brand img {
	margin-top: -13px;
	margin-bottom: -11px;
	margin-left: -10px
}
.nav-collapse ul.nav li:hover {
	background-color: #E5E5E5
}
ul.dropdown-menu {
	z-index: 2000
}
@font-face{
	font-family:Batch;
	src:url('../assets/batch.eot');
	src:url('../assets/batch.eot?#iefix') format('embedded-opentype'),
          url('../assets/batch.woff') format('woff'),
          url('../assets/batch.ttf') format('truetype'),
					url('../assets/batch.svg#batchregular') format('svg');
	font-weight:normal;
	font-style:normal;
}

.batch {
	font-family:"Batch"; /*or whatever you've decalred your font name as*/
	font-size:32px;
	line-height:1;
	display:inline-block;
}

